.comments-form-row
    h2.post__title Comment it:
    form(action="").comments-form
        .form-item
            textarea(name="message").form-field Flannel bicycle rights chicharrones tacos craft beer blog messenger bag. Vexillologist brooklyn wolf raclette celiac readymade gluten-free.
        .inputs-row
            .form-item
                input(type="text" name="name" placeholder="Your name").form-field
            .form-item
                input(type="email" name="email" placeholder="Email").form-field
            .form-item
                input(type="text" name="Homepage" placeholder="Homepage").form-field
        .form-btn
            button(type="submit").button-read-more Comment
